.quando-regular {
  font-family: "Quando", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    margin: 0;
    --smoky-black: #141204ff;
    --drab-dark-brown: #262a10ff;
    --drab-dark-brown-2: #54442bff;
    --brown-sugar: #a9714bff;
    --persian-orange: #e8985eff;
}

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brown-sugar);
  }

  header > h1{
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.5em;
  }
  header > nav > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    margin:auto;
    height: 8dvh;
    object-fit: cover;
  }

  header > nav{
    display: flex;
    width: 90dvw;
  }

  #bear{
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display:flex;
    margin:auto;
}

main{
  min-height: 100dvh;
  width: 65dvw;
  flex-direction: column;
  background-color: yellow;
  padding-bottom: 7vh;
}
/* dvh makes sure the address bar doesn't cover content */


main > img{
  margin: 9em;
  width: 30dvw;
  object-fit: cover;
  /* Makes the image adjust as the viewing window is changed */
}

  footer{
    width: 100dvw;
    display: flex;
    flex-direction: row;
    max-height: 10dvh;
    justify-content: flex-start;
    background-color: red;
    margin-left: 5vw;
    margin-bottom: 3vh;
  }

  footer > img{
    display: flex;
    justify-content: flex-start;
    height:100px;
    width:100px;
    object-fit: cover;
    margin-left: 2vw;
  }


